<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Выбор вакансий</title>

  </head>

  <body background="/static/sand.jpg">

  <!--верхнее меню навигации-->
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/">Выбор</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/results/">Результаты</a>
  </ul>

  <p></p>

    <hr align="center" color="#fff" size="3" />

  <br>

  <h3> &nbsp;База найденных в <a href="https://hh.ru">head hunter</a> вакансий:</h3>

  <p> &nbsp;Всего найдено вакансий: {{s_res.vac_number}} <br>
      &nbsp;Ключевые слова поиска: {{req.key_words}}<br>
      &nbsp;Актуальность вакансии, дней: {{req.days_vac_valid}}<br>
  </p>
<h3> &nbsp; СДЕЛАЙТЕ ВЫБОРКУ ИЗ БАЗЫ ВАКАНСИЙ:</h3>
   <hr align="center" color="#fff" size="3" />

  <form method="post">
<!--  Форма для получения запросов  -->
    <div class="form-group">
        <label for="exampleFormControlSelect1">&nbsp;В каком регионе нужна вакансия?</label>
        <select class="form-control" name="where_to_find" id="exampleFormControlSelect1">
           {% for town in regions_dict %}
             {% if town!='ВСЕ' %}
               <option value ={{regions_dict[town]}}>{{town}}</option>
             {% else %}
                <option selected value ={{regions_dict[town]}}>{{town}}</option>
             {% endif %}
           {% endfor %}
        </select>
    </div>

      <hr align="center" color="#fff" size="3" />

      <div class="form-group">
        <label for="exampleFormControlSelect1">&nbsp;Ключевые требования</label>
        <select class="form-control" name="what_skills" id="exampleFormControlSelect1">
           {% for sk in skill_dict %}
                <option value ={{skill_dict[sk]}}>{{sk}}</option>
           {% endfor %}
        </select>
      </div>

      <hr align="center" color="#fff" size="3" />

      <br> &nbsp; Минимальная заработная плата (найдена до {{s_res.sal_max}} рублей) <br>
       <input size="8" type="int" name="sal_min" value="0" placeholder="1" >&nbsp;&nbsp;рублей
      <br>

      <br>
      <br>
    <input class="btn btn-primary btn-lg" type="submit" value="Искать  вакансии">

  </form>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
